<head>
    <title>B2S - Product</title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="seller">Want to sell?</a></li>
            </ul>
        </nav>
    </div>
    <div class="products single-product">
        <div class="row2">
            <div class="col-3">
                <img src="{{url_for('static', filename='src/lightbulb.png')}}">
            </div>
            <div class="col-3">
                <h5 style="font-family:Verdana;">Rating: 3.2/5.0</h5>
                <h1 style="color: #f4f5f6; font-family: Arial; margin-top: 5px;">Lightbulb Round</h1>
                <h4 style="color: #dee3de; font-family:Verdana;">₹75.00</h4>
                <select style="margin-top: 20px;">
                    <option>Select Light Colour</option>
                    <option>White</option>
                    <option>Yellow</option>
                </select>
                <style>
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }
            </style>
                <input type="number" value="1" placeholder="Enter Quantity" class="qty">
                <a href="/sdetails/3" class="btn" style="margin-top: 20px;">Buy</a>
                <br>
                <br>
                <h2 style="color: #e1e1dd; margin-top: 30px; font-family:Arial;">Product Details</h2>
                <p style="color: #f4f5f6; font-family:Verdana;">Made out of Aluminium plastic(PBT),
                    Power Consumption = 8W</p>
                <br>
                <h3 style="font-family:Verdana;">Quantity left: 1000</h3>
            </div>
        </div>
    </div>
</body>