<head>
    <title>B2S - Product</title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="seller">Want to sell?</a></li>
            </ul>
        </nav>
    </div>
    <div class="products single-product">
        <div class="row2">
            <div class="col-3">
                <img src="{{url_for('static', filename='src/headphones.png')}}">
            </div>
            <div class="col-3">
                <h5 style="font-family:Verdana;">Rating: 4.8/5.0</h5>
                <h1 style="color: #f4f5f6; font-family: Arial; margin-top: 5px;">Apple Over-Ear Headphones</h1>
                <h4 style="color: #dee3de; font-family:Verdana;">₹1999.99</h4>
                <select style="margin-top: 20px;">
                    <option>Select Colour</option>
                    <option>Black</option>
                    <option>Space Grey</option>
                    <option>Silver</option>
                    <option>Sky Blue</option>
                    <option>Green</option>
                </select>
                <style>
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
      
                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                </style>
                <input type="number" value="1" placeholder="Enter Quantity" class="qty">
                <a href="/sdetails/2" class="btn" style="margin-top: 20px;">Buy</a>
                <br>
                <h2 style="color: #e1e1dd; margin-top: 30px; font-family:Arial;">Product Details</h3>
                <p style="color: #f4f5f6; font-family:Verdana;">Effortless and effective:
                    enjoy the simplicity of Bluetooth v5.0 as it provides instant, energy-efficient,
                    hands-free connection to almost any devices for high-class sound and music
                    enjoyment</p>
                <br>
                <h3 style="font-family:Verdana;">Quantity left: 200</h3>
            </div>
        </div>
    </div>
</body>