<head>
    <title>Digital Art Museum</title>
    <link rel="icon" href="{{url_for('static', filename='src/logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/"><input type="image" src="{{url_for('static', filename='src/logo.png')}}" height="135" width="135"/></a></li>
                <li><a href="rent">View Digital Art</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="login"><button class="register"> Sign in/Sign up</button></a></li>
            </ul>
        </nav>
    </div>
    <h1 style="text-align:center;" class = "header">
        Contact Us
    </h1>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Avaneesh Shetye</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 9820337064
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:avaneesh.shetye2020@vitstudent.ac.in">Email</a>
    </h3>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Siddhant Mhapankar</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 9833463507
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:siddhantvinod.m2020@vitstudent.ac.in">Email</a>
    </h3>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Ishaan Iyer</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 7875885933
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:ishaanganesh.iyer2020@vitstudent.ac.in">Email</a>
    </h3>
    <br>
    <h3 style="text-align:center;" class = "header">
        <em>Ashlin Biju</em>
    </h3>
    <h5 style="text-align:center;" class = "header">
        Mobile: +91 9562712887
    </h5>
    <h3 style="text-align:center;" class = "header">
    <a href="mailto:ashlin.biju2020@vitstudent.ac.in">Email</a>
    </h3>